.not-found-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.not-found-content-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.not-found-content-img {
  width: 70%;
}

.not-found-content-header {
  font-size: 3rem;
  font-weight: 550;
  color: #616e7c;
}

.not-found-content-description {
  font-size: 1rem;
  color: #dcdcdc;
}
